html, body {
  margin: 0;
  padding: 0;
}

.root {
  height: 100vh;
  width: 100vw;
}

header {
  height: 90px;
  background-color: #222;
  color: white;
  padding: 8px;
  padding-left: 40px;
}

header h1 a {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS';
  margin: 0;
  background-color: #FFF;
}

footer {
  height: 30px;
  background-color: #222;
  color: white;
  margin: 0;
}

.page {
  height: calc(100vh - 150px - 30px - 16px);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.index {
  background-color: #666;
  width: 16vw;
  color: white;
}

.content {
  background-color: #333;
  height: 100%;
  width: 84vw;
}

.counter {
  height: 100%;
  width: auto;
}

.counter h1 {
  color: white;
}

.home {
  height: 100%;
  width: auto;
}

.home h1 {
  color: white;
}

.chat {
  height: 100%;
}

.chat h1 {
  color: white;
}


.inputarea {
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.inputtext {
  height: 60;
  width: 100%;
  resize: none;
}

.chatlog {
  overflow: hidden;
}

.baloonI {
  overflow: hidden;
  width: 86%;
  float: right;
  margin: 30px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 24px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 40px;
}

.baloonU {
  overflow: hidden;
  width: 86%;
  margin: 30px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 24px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 40px;
}

.isay {
  overflow: hidden;
  padding-top:10;
  margin: 20px;
  margin-right: 40px;
  text-align: right;
}

.usay {
  overflow: hidden;
  padding-top:10;
  margin: 20px;
  margin-left: 40px;
  text-align: left;
}

.comment {
  overflow: hidden;
  padding: 10;
}

